.profileTitle{
    color: gray;
    font-family: 'Roboto';
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    padding: 24px 0px 0px 0px;
  }
  
  .pencilIcon{
        width:5px;
        height:5px;
    }
  .profileInput{
        display: none; cursor: pointer;
      }

      .icon2{
        cursor: pointer;
       
        color: grey;
      }.icon{
        // color: black;
         cursor: pointer;
         left: 10px;
      }